#board {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.cell {
    width: 90px;
    height: 90px;
    background-color: #22c55e;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;     
    font-weight: bold;
}

.player{
    background: yellow;
    color:black;
}